.idea-list-item {
    cursor: pointer;
}

.idea-list-item-content {
   height: 100px;
   overflow: hidden;
}

a.unlink {
  color: inherit;
}

a.unlink:hover {
  color: inherit;
  text-decoration: inherit;
}
