.propose{
    text-align: left;
    padding: 0.5rem;

}
.coverImg img{
    height: 50%;
    max-height: 400px;
    width: 100%;
    border-radius: 3px; 
    margin: 0.5rem auto 0.5rem auto;
    display: block;
}
.mask {
    opacity: 0
}