.propose{
    text-align: left;
    padding: 0.5rem;

}
.coverImg img{
    height: 35vw;
    width: 81vw;
    border-radius: 3px; 
    margin: 0.5rem auto 0.5rem auto;
    display: block;
}
.mask {
    opacity: 0
}