.coverImg img{
    height: 50%;
    max-height: 400px;
    width: 100%;
    border-radius: 3px; 
    margin: 0.5rem auto 0.5rem auto;
    display: block;
}
.workshopPage{
    text-align: center;
}
h3{
    margin-top:0.5rem;
    padding: 1rem auto;
    font-weight: bold;
    display: block
}
.description{
    text-align: left;
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
}
.workshop-info{
    margin:1rem auto;
}
