.coverImg {
    height: 40%;
    width: 100%;
    border-radius: 3px; 
    margin: 3 rem auto;
}
.workshopPage{
    text-align: center;
}
h3{
    margin-top:1 rem;
    padding: 1 rem auto;
    font-weight: bold;
}
.description{
    text-align: left;
}